* {
  box-sizing: border-box;
}

body {
  border: 1px solid #3fcf8e;
  text-align: center;
  width: 700px;
  margin: auto;
  margin-top: 60px;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #3fcf8e;
  font-size: 40px;
}
header {
  border-bottom: 1px solid #3fcf8e;
}
#gameBtn {
  margin: 20px;
  padding: 7px 12px;
  background-color: #3fcf8e;
  color: white;
  border-radius: 6px;
  border-color: #3fcf8e;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4 {
  font-size: 30px;
  margin-top: 10px;
  color: #3fcf8e;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section {
  margin: auto;
  display: flex;
  height: 200px;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}
p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
}
